//- COMPONENTS
mixin socialMedia(array)
  each icon in array
    a(href="http://www.google.com" target="_blank")
      img(class= icon.class src= icon.path alt= icon.alt)

mixin figure(figClass, imgPath, imgAlt, capClass,capTextClass, capText)
  figure(class= figClass)
    img(src= imgPath alt= imgAlt)
    figcaption(class= capClass)
      h6(class= capTextClass)= capText

mixin review(array)
  each review in array
    figure.review
      .review__imgs
        .review__media
          img.review__media__logo(src= review.path, alt= review.alt)
        .review__rating
          each i in review.rating
            svg.review__star
              use(href= i)
      figcaption.review__caption
        q.review__quote= review.quote
        h5.review__company= review.company

mixin sectionHeading(name, text)
  h4(class= name + '__heading')= text


//- HOME
mixin homeHeading(array)
  each letter in array
    span= letter

//- DATES
mixin tableHeadings(array)
  each icon in array
    th.icon.dates__table__heading
      img(src= icon.path alt= icon.alt)
mixin tableListings(array)
  each listing in array
    tr.dates__table__row
      td.dates__table__venue= listing.venue
      td.dates__table__show= listing.show
      td.dates__table__date= listing.date
      td.dates__table__price= listing.price
      td.dates__table__btn
        button.dates__table__cta= 'Add to cart'
mixin collagePic(array)
  each img in array
    img(class= "dates__img" src= img.path alt= img.alt)

//- FORM
mixin formInputs(array, btnText)
  button.form__back__button Back
  each input in array
    label(for= input.id class='form__label')= input.placeholder
      input(class='form__input' id= input.id type=input.type)
  button.form__next__button= btnText
