include ../components/mixins

-
  const cart = {
    heading: 'Your Cart',
    form: {
      address: [
        { id: 'firstName', type: 'text', placeholder: 'First Name' },
        { id: 'lastName', type: 'text', placeholder: 'Last Name' },
        { id: 'email', type: 'email', placeholder: 'Email Address' },
        { id: 'phone', type: 'number', placeholder: 'Phone #' },
        { id: 'address', type: 'text', placeholder: 'Street Address' },
        { id: 'city', type: 'text', placeholder: 'City' },
        { id: 'province', type: 'text', placeholder: 'Province/State' },
        { id: 'Country', type: 'text', placeholder: 'Country' }
      ],
      billing: [
        { id: 'creditCardNumber', type: 'number', placeholder: 'Credit Card #' },
        { id: 'cvv', type: 'number', placeholder: 'CVV' },
        { id: 'creditCardName', type: 'text', placeholder: 'Name on Credit Card' }
      ]
    },
    bluRay: {
      headingPrimary: 'Pre-order now!  "The Lost Years"',
      headingSecondary: 'Available Christmas 2019',
      price: '$49.99',
      text: 'Take a behind the scenes look at Hidden Era from the comfort of your own home.  Through years of compiled footage, you\'ll see just how much Pizza Pizza one band can consume',
      cta: 'Add to Cart',
      img: {
        path: 'img/cart/bluray.png',
        alt: 'Hidden Era\'s "The Lost Years" Blu-ray cover'
      }
    }
  }

- const { heading, form, bluRay } = cart
- const { address, billing } = form

section.cart
  .cart__heading
    +sectionHeading('cart')= heading

  .cart__body

    form.cart__form.form
      .form__splash
        h6.form__heading You have #[span.form__splash__total 0] items in your Cart
        button.form__splash__button.form__next__button  Begin Checkout
      .form__customerInfo
        +formInputs(address, 'Proceed to Billing')
      .form__billing
        +formInputs(billing, 'Finalize')
      .form__finalize
        button.form__back__button Back
        h6.form__heading Name:
        - const pat = ['Patrick McLennan', 'judoman_07@hotmail.com', '905-320-0730', '781 Main St E', 'Hamilton', 'Ontario', 'Canada']
          each i in pat
            p i
          -const patbill = ['492732932028472', '654', 'Patrick McLennan']
          each i in patbill
            p i
        button.form__next__button Complete Payment
      .form__success
        h6.form__heading Success!  We have your money.  Thanks, idiot.

- const { headingPrimary, headingSecondary, price, text, cta, img } = bluRay

    .cart__bluRay
      h6.bluRay__header= headingPrimary
      p.bluRay__text= text
      fiure.bluRay__figure
        .bluRay__media
          img.bluRay__img(src= img.path alt= img.alt)
        .bluRay__figcaption
          h6.bluRay__ficaption__text= price
      h6.bluRay__price= headingSecondary
      button.bluRay__cta= cta

