include ../components/mixins
-
  const dates = {
    listings: [
      { venue: 'Holiday Inn', show: 'Burlington International Games (B.I.G) kick-Off', date: 'August 2nd, 2019', price: ' / ' },
      { venue: 'Burlington Central High School', show: 'Fall Talent Show', date: 'October 12th, 2019 (2nd period)', price: '10$' },
      { venue: 'Burlington Central High School', show: 'Christmas Talent Show', date: 'December 21st, 2019 (5h period)', price: '10$' },
      { venue: 'Burlington Central High School', show: 'Spring Talent Show', date: 'March 15th, 2019 (2nd period)', price: '10$' },
      { venue: 'Burlington Central High School', show: 'Battle of the Bands', date: 'May 10th, 2019', price: '10$' },
      { venue: 'Holiday Inn', show: 'Burlington International Games (B.I.G) kick-Off', date: 'August 2nd, 2019', price: ' / ' },
      { venue: 'T.B.A', show: 'Bobs No-Frills Employee Party', date: 'July 1st, 2019', price: ' / ' },
      { venue: '536 Bridgeman Avenue', show: 'Blakes Birthday Show (Rain or Shine)', date: 'Oct 15th, 2019', price: ' / ' }
    ],
    collage: [
      { path: 'img/dates/group1.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group2.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group3.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group4.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group5.jpg', alt: 'Hidden Era Group Shot' },
      { path: 'img/dates/group6.jpg', alt: 'Hidden Era Group Shot' }
    ],
  }

section.dates
    +sectionHeading('#dates', 'Get Tickets Today')
    ul.dates__shows
      each show in dates.listings
        li.dates__show= `#[span ${show.date}] ${show.venue}`
          ul.dates__show__info
            li.dates__show__text= show.date
            li.dates__show__text= show.venue
            li.dates__show__text= show.show
            li.dates__show__text= show.price
            button.dates__cta(data-date= show.date data-venue= show.venue data-show= show.show data-price= show.price) Buy Ticket

    .dates__collage
      +collagePic(dates.collage)

