doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title hiddenEra
  body
    //- LOGIC
    -
      const nav = {
        cart: {
          inCart: 'Your Cart',
          subTotal: 'Sub Total',
          tax: 'HST',
          total: 'Total',
          promo: 'LIMITED TIME OFFER - Answer this skill testing question and save 5%!',
          firstName: 'First Name',
          lastName: 'Last Name',
          email: 'Email',
          phone: 'Phone',
          address: 'Billing Address',
          city: 'City',
          province: 'Province/State',
          country: 'Country',
        },
        menu: [
          { url: '#home', text: 'Home' },
          { url: '#dates', text: 'Dates' },
          { url: '#aboutUs', text: 'About Us' },
          { url: '#preorder', text: 'Pre-order Remaster' },
        ],
        songs: ['Means to be', 'Will to Fight', 'Road To Redemption', 'Solemn Angel Eyes', 'Riding the bullet']
      }
      const dates = {
        avgPrice: '$10, $5 with canned good donation',
        headings: ['Venue', 'Show', 'Date', 'Price'],
        listings: [
          { venue: 'Holiday Inn, Burlington ON', show: 'Burlington International Games (B.I.G) Kick-off', date: 'August 2nd, 2019', price: '/' },
          { venue: 'Burlington Central High School', show: 'Fall Talent Show', date: 'October 12th, 2019 (2nd Period)', price: avgPrice },
          { venue: 'Burlington Central High School', show: 'Christmas Talent Show', date: 'December 21st, 2019 (5th period)', price: avgPrice },
          { venue: 'Burlington Central High School', show: 'Spring Talent Show', date: 'March 15th, 2019 (2nd period)', price: avgPrice },
          { venue: 'T.B.A', show: 'Bobs No-Frills Employee Party', date: 'July 1st, 2019', price: '/' },
        ]
      }
      const aboutUs = {
        members: [
          {
            name: 'Patrick McLennan',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: '6 strings of fury',
            text: 'The song-writing tornado behind such classics as "Will To Fight", Patrick is year after year hailed as a tour-de-force in the Grade 10 Burlington Central High School rock scene.  You can find Pat forcing band members to load $5k worth of guitar amps that he "doesn\'t need."'
          },
          {
            name: 'Tom Duff',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Lock up your daughters',
            text: 'Hidden Era is an Equal Oppurtunity Employer.'
          },
          {
            name: 'John Duff',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Dreamer.  Visionary.  Driver.',
            text: 'The steady hand of the group, Johns natural ability to gain a G2 earned him immediate acceptance into the band.  Quiet and composed, John can be found obsessing over Swedish pop-star Robyn or patenting his yet-to-be-seen "Live Fade-Out" technique.'
          },
          {
            name: 'Blake Hutton',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: '6 strings of fury',
            text: 'Blakes quirky personality is a lot like his bass playing -- off-beat and timeless.  Excited for the upcoming shows, Blake has only 2 dislikes in this world -- Wheat and Injustice, which he often claims go hand in hand.'
          },
          {
            name: 'Marc Decaire',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Regional Man of Mystery',
            text: 'Voted Best Looking member of Hidden Era, unanimously, everytime, Marc Decaire redefined what a vocalist for a High School rock band should be.  If you see Marc in the wild, please tell him to call one of us.'
          },
        ]
      }

    mixin navMenu(url, text)
      li.nav__item
        a.nav__link(src=url)= text

    mixin datesListing(venue, show, date, price)
      tr.dates__table__row
        td.dates__table__venue= venue
        td.dates__table__shows= show
        td.dates__table__date= date
        td.dates__table__price= price
        td.dates__table__cta
          a.dates__table__btn Tickets Avaiable

    mixin aboutUsProfile(name, img, laughLine, text)
      figure.aboutUs__figure
        .aboutUs__picBox
          img.aboutUs__pic(url= img alt= name)
          h5.aboutUs__name= name
        figcaption.aboutUs__figcaption
          h6.aboutUs__laughLine= laughLine
          p.aboutUs__text= text

    //- HTML
    header.header

      nav.nav
        .nav__menu
          ul.nav__list
            each i in nav.menu
              +navMenu(i.url, i.text)
        .nav__player
          ul.nav__list
            each i in nav.songs
              li.nav__song
                button.nav__button= i
        .nav__cart
          h5.nav__cartTotal You have #[span 0] items in your Cart
          form.nav__form
            h6.nav__cartItemsHeader= nav.cart.inCart
            ul.nav__cartItems
              li.nav__cartItem Remastered DVD
            h6.nav__subTotal= nav.cart.subTotal
              span $25.00
            h6.nav__tax= nav.cart.tax
              span $2.50
            h6.nav__total= nav.cart.total
              span $27.50
            .nav__customerInfo
              label.nav__firstName.nav__label(for="nav__firstName__input")= nav.cart.firstName
                input#nav__firstName__input(type="text")
              label.nav__lastName.nav__label(for="nav__lastName__input")= nav.cart.lastName
                input#nav__lastName__input(type="text")
              label.nav__email.nav__label(for="nav__email__input")= nav.cart.email
                input#nav__email__input(type="email")
              label.nav__phone.nav__label(for="nav__phone__input")=nav.cart.phone
                input#nav__phone__input(type="number")
              label.nav__address.nav__label(for="nav__address__input")= nav.cart.address
                input#nav__address__input(type="text")
              label.nav__city.nav__label(for="nav__city__input")= nav.cart.city
                input#nav__city__input(type="text")
              label.nav__province.nav__label(for="nav__province__input")= nav.cart.province
                input.nav__province__input(type="text")
              label.nav__country.nav__label(for="nav__country__input")= nav.cart.country
                input#nav__country__input(type="text")
              label.nav__promo.nav__label(for="nav__promo__input")= nav.cart.promo
                span
                input#nav__promo__input(type="text")



    main.main

      section.home
        figure.home__figure
          img.home__pic(src="https://a2-images.myspacecdn.com/images02/148/aedc3b7b1b8146b49d869b8a39f896a3/full.jpg" alt="Hidden Era Money Shot")
          figcaption.home__caption
            h1.home__header Hidden Era
            h2.home__tag Reunion Tour 2019
            .home__links
              a.home__btn(href="#dates") Pre-Order Tickets
              a.home__btn(href="#preorder") Pre-Order Best-Of Blu-Ray

      section.dates
        h3.dates__header.section__header Tickets are going fast -- pre-order yours now!
        table.dates__table
          tr.dates__table__row
            each i in dates.headings
              th.dates__table__heading= i
          each i in dates.listings
            +datesListing(i.venue, i.show, i.date, i.price)

      section.aboutUs
        h3.aboutUs__header.section__header We haven't aged a day
        each i in aboutUs.members
          +aboutUsProfile(i.name, i.img, i.laughLine, i.text)

      section.preorder
        h4.preorder__header.section__header You've heard the classics -- Now you can own them

    footer.footer
