doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title hiddenEra
  body

    header.header

      //- NAV
      - const menuData = [ {url: '#home', text: 'Home'}, {url: '#dates', text: 'Dates'}, {url: '#aboutUs', text: 'About Us'}, {url: '#preorder', text: 'Pre-Order Remaster'} ]
      mixin menuItem(url, text)
        li.nav__item
          a.nav__link(src=url) text

      nav.nav
        ul.nav__list
          each i in menuData
            +menuItem(i.url, i.text)

    main.main

      //- HOME
      section.home
        figure.home__figure
          img.home__pic(src="https://a2-images.myspacecdn.com/images02/148/aedc3b7b1b8146b49d869b8a39f896a3/full.jpg" alt="Hidden Era Money Shot")
          figcaption.home__caption
            h1.home__header Hidden Era
            h2.home__tag Reunion Tour 2019
            .home__links
              a.home__btn(href="#dates") Pre-Order Tickets
              a.home__btn(href="#preorder") Pre-Order Best-Of Blu-Ray

      //- TOUR DATES
      - const shows = "dates__table"
      mixin tableRow(venue, show, date, price)
        tr(class=`${shows}__row`)
          td(class=`${shows}__venue`)= venue
          td(class=`${shows}__shows`)= show
          td(class=`${shows}__date`)= date
          td(class=`${shows}__price`)= price
          td(class=`${shows}__cta`)
            a(class=`${shows}__btn`) Tickets Avaiable

      section.dates
        h3.dates__header.section__header Tickets are going fast -- pre-order yours now!
        table(class=shows)
          tr(class=`${shows}__row`)
            th(class=`${shows}__heading`) Venue
            th(class=`${shows}__heading`) Show
            th(class=`${shows}__heading`) Date
            th(class=`${shows}__heading`) Price
            th(class=`${shows}__heading`) Tickets
          +tableRow('Holiday Inn, Burlington ON','Burlington International Games (B.I.G) Kick-off', 'August 2nd, 2019', '/')
          +tableRow('Burlington Central High School','Fall Talent Show', 'October 12th, 2019 (2nd period)', '$10, $5 with canned good donation')
          +tableRow('Burlington Central High School','Christmas Talent Show', 'December 21st, 2019 (5th period)', '$10, $5 with a canned good donation')
          +tableRow('Burlington Central High School','Spring Talent Show', 'March 15th, 2019 (2nd period)', '$10, $5 with a canned good donation')
          +tableRow('T.B.A', 'No Frills Employee Party', 'July 1st, 2019', '/')

      //- ABOUT US
      section.aboutUs
        h4.aboutUs__header.section__header We haven't aged a day
        figure.aboutUs__figure
          img.aboutUs__img(src="" alt="Patrick McLennan")
          figcaption.aboutUs__caption
            h4.aboutUs__name Patrick McLennan
            h4.aboutUs__laugh Likes: Cheese
            p.aboutUs__text Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo delectus a velit est sunt impedit ex nesciunt quia iure ullam itaque cumque, praesentium quisquam autem tenetur sequi voluptate sed?

      section.preorder
        h4.preorder__header.section__header You've heard the classics -- Now you can own them

      footer.footer




