doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="style.css")
    title hiddenEra
  body
    //- LOGIC
    -
      const nav = {
        menuData: [
          { url: '#home', text: 'Home' },
          { url: '#dates', text: 'Dates' },
          { url: '#aboutUs', text: 'About Us' },
          { url: '#preorder', text: 'Pre-order Remaster' },
        ],
      }
      const dates = {
        avgPrice: '$10, $5 with canned good donation',
        listings: [
          { venue: 'Holiday Inn, Burlington ON', show: 'Burlington International Games (B.I.G) Kick-off', date: 'August 2nd, 2019', price: '/' },
          { venue: 'Burlington Central High School', show: 'Fall Talent Show', date: 'October 12th, 2019 (2nd Period)', price: avgPrice },
          { venue: 'Burlington Central High School', show: 'Christmas Talent Show', date: 'December 21st, 2019 (5th period)', price: avgPrice },
          { venue: 'Burlington Central High School', show: 'Spring Talent Show', date: 'March 15th, 2019 (2nd period)', price: avgPrice },
          { venue: 'T.B.A', show: 'Bobs No-Frills Employee Party', date: 'July 1st, 2019', price: '/' },
        ]
      }
      const aboutUs = {
        members: [
          {
            name: 'Patrick McLennan',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: '6 strings of fury',
            text: 'The song-writing tornado behind such classics as "Will To Fight", Patrick is often hailed as tour-de-force in the Grade 10 Burlington Central High School rock scene.  You can find Pat hiding behind $6k worth of guitar amps that he "doesn\'t need".'
          },
          {
            name: 'Tom Duff',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Lock up your daughters',
            text: 'Hidden Era is an Equal Oppurtunity employer.'
          },
          {
            name: 'John Duff',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Dreamer.  Visionary.  Driver.',
            text: 'The steady hand of the group, Johns natural ability to gain a G2 earned him immediate acceptance into the band.  Quiet and composed, John can be found obsessing over Swedish pop-star Robyn or patenting his yet-to-be-seen "Live-Fade-Out" technique that he claims will change the world.'
          },
          {
            name: 'Blake Hutton',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: '6 strings of fury',
            text: 'Don\'t let Blakes cool demeanor fool you -- the thunderous bass lines coming from his 12 watt practice amp will leave you breathless.  Excited for the upcoming shows, Blake has only 2 dislikes in this world -- Wheat and Injustice, which he often claims go hand in hand.'
          },
          {
            name: 'Marc Decaire',
            img: 'https://www.google.ca/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwiP8qvho_reAhWjnOAKHSNyAmUQjRx6BAgBEAU&url=https%3A%2F%2Fwww.cbc.ca%2Fkidscbc2%2Fthe-feed%2F9-unsinkable-rubber-duckie-facts&psig=AOvVaw16XgHLVYIV6c7Wo2PUXmqC&ust=1543604165628472',
            laughLine: 'Regional Man of Mystery',
            text: 'Voted Best Looking member of Hidden Era, unanimously, everytime, Marc Decaire redefined what a vocalist for a High School rock band should be.  If you see Marc in the wild, please tell him to call one of us.'
          },
        ]
      }

    mixin navLink(url, text)
      li.nav__item
        a.nav__link(src=url)= text

    mixin datesListing(venue, show, date, price)
      tr.dates__table__row
        td.dates__table__venue= venue
        td.dates__table__shows= show
        td.dates__table__date= date
        td.dates__table__price= price
        td.dates__table__cta
          a.dates__table__btn Tickets Avaiable



    //- HTML
    header.header
      nav.nav
        ul.nav__list
          each i in nav.menuData
            +navLink(i.url, i.text)

    main.main

      section.home
        figure.home__figure
          img.home__pic(src="https://a2-images.myspacecdn.com/images02/148/aedc3b7b1b8146b49d869b8a39f896a3/full.jpg" alt="Hidden Era Money Shot")
          figcaption.home__caption
            h1.home__header Hidden Era
            h2.home__tag Reunion Tour 2019
            .home__links
              a.home__btn(href="#dates") Pre-Order Tickets
              a.home__btn(href="#preorder") Pre-Order Best-Of Blu-Ray

      section.dates
        h3.dates__header.section__header Tickets are going fast -- pre-order yours now!
        table.dates__table
          tr.dates__table__row
            th.dates__table__heading Venue
            th.dates__table__heading Show
            th.dates__table__heading Date
            th.dates__table__heading Price
            th.dates__table__heading Tickets
          each i in dates.listings
            +datesListing(i.venue, i.show, i.date, i.price)

      section.aboutUs
        h3.aboutUs__header.section__header We haven't aged a day
        figure.aboutUs__figure
          img.aboutUs__img(src="" alt="Patrick McLennan")
          figcaption.aboutUs__caption
            h4.aboutUs__name Patrick McLennan
            h4.aboutUs__laugh Likes: Cheese
            p.aboutUs__text Lorem ipsum dolor sit amet consectetur adipisicing elit. In quo delectus a velit est sunt impedit ex nesciunt quia iure ullam itaque cumque, praesentium quisquam autem tenetur sequi voluptate sed?

      section.preorder
        h4.preorder__header.section__header You've heard the classics -- Now you can own them

      footer.footer




